.container {
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 440px;
  margin: 40px auto;
}

.show-result {
  background-color: #bdbddbef;
  padding: 23px 2px 23px 23px;
  text-align: right;
  color: #fff;
  font-size: 1.5rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.btn {
  border: 1px solid gray;
  padding: 21px;
  text-align: center;
  border-bottom: 1px solid #fff;
  font-size: 1.2rem;
  cursor: pointer;
}

.btn:last-child {
  background-color: rgba(199, 115, 32, 0.973);
}

.row-five .btn:first-child {
  border-bottom: 1px solid gray;
  text-align: center;
  grid-column: 1/-3;
}

.row-five .btn:nth-child(2) {
  border-bottom: 1px solid gray;
}

/* Full website */

.nav {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 2.5rem;
  width: auto;
  margin: 0 auto;
  padding: 2.5rem;
}

.nav i {
  display: none;
  z-index: 10;
  cursor: pointer;
  font-size: 1.5rem;
  margin: 0.6rem 0 0 0;
}

.menuNav {
  gap: 3rem;
  align-items: center;
}

.menuNav.showMenu {
  width: 100%;
}

.nav h1 {
  font-size: 3rem;
  align-self: center;
}

.nav ul {
  display: flex;
  list-style: none;
  gap: 3rem;
  font-size: 1.4rem;
}

.nav a {
  text-decoration: none;
  color: rgb(3, 124, 176);
}

.nav a:hover {
  color: rgb(190, 139, 42);
  border-bottom: 2px solid rgb(3, 124, 176);
}

.home {
  padding: 2%;
  height: auto;
}

.home h2 {
  font-size: 2.5rem;
  padding: 1.5rem;
  margin: 0 5rem;
  width: fit-content;
}

.home p {
  font-size: 1.2rem;
  padding: 0 1.5rem;
}

.quote {
  width: 65%;
  margin: 0 auto;
  padding: 6rem 3rem;
  font-size: 2rem;
}
